@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Category>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterLayout.cshtml";
}

@Model.CategoryName


@{
	var selection = Umbraco.Content(Guid.Parse("fceb70d9-ce82-4c00-9926-d0655d13d791"))
    .ChildrenOfType("product")
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>@item.Tags
			<br/>@item
		</li>
	}
</ul>



