@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Kundvagn>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterLayout.cshtml";
}

<script src="/JavaScript/cartpage.js"></script>
<link rel="stylesheet" href="/css/cartpage.css">

<div class="my-5">
    <div class="row">
        <div class="col">
            <h2 style="text-align:center; margin: 0 auto;">Current cart items</h2>
        </div>
    </div>
</div>
<div class="row justify-content-center" id="cart-root">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
                <p>Item name</p>
            </div>
            <div class="col-md-2">
                <p class="center-text">Price per item</p>
            </div>
            <div class="col-md-1">
                <p></p>
            </div>
            <div class="col-md-1">
                <p class="center-text">Quantity</p>
            </div>
            <div class="col-md-1">
                <p></p>
            </div>
            <div class="col-md-2">
                <p class="center-text">Total</p>
            </div>
        </div>
        <div id="items-container">
            <!--THIS IS WHERE THE CART ITEMS WILL GO; APPENDED VIA JQUERY-->
        </div>
        <div class="row justify-content-end">
            <div class="col-md-2">
                <p>Net total:</p>
            </div>
            <div class="col-md-2">
                <p class="currency" id="total-price-text"></p>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-block btn-primary" id="confirm-order-button">Submit order</button>
            </div>
        </div>
    </div>
</div>