@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Kundvagn>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterLayout.cshtml";
}


<link rel="stylesheet" href="/css/cartpage.css">
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/JavaScript/main.js"></script>
        
    </head>

    <body onload="toCheckout()">
        <h2>Cart Items:</h2>
    <hr>

        <table >
            <tr id="myRow"></tr>
        </table>

    <hr>

        <table>
        <h2>Order:</h2>
                <p style="font-weight: bold;" id="total"></p>
                <p id="frakt"></p>
                <p id="vat"></p>
                <p id="rabatt"></p>
                <p style="font-size: 120%; font-weight: bold;" id="subTotal"></p> 
        </table>

    <hr>

        <div class="row">
            <button class="btnOrder" >Order</button>
        </div>
         
         <div class="orderHistory"></div>

    </body>

</html>