@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Umbraco is nutsack</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <nav class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">
                                Logo area
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row justify-content-end">
                            <div class="col-md-2">
                                <a href="/">
                                    <button class="btn btn-primary btn-block">Home</button>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="/products/">
                                    <button class="btn btn-primary btn-block">Products</button>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="/kundvagn/">

                                    <button id="cart-button" class="btn btn-primary btn-block" onload="showCart()">Cart</button>
                                </a>
                            </div>
                            <div class="col-md-2">
                                <a href="/profile/">
                                    <button class="btn btn-primary btn-block">Profile</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container">
            @RenderBody()
        </main>
        <footer class="container-fluid" style="position: fixed;bottom: 0px;">
            This is the masterlayout footer !
        </footer>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/JavaScript/main.js"></script>
        <script src="/JavaScript/OrderHistory.js"></script>
    </body>
</html>   