@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Umbraco is nutsack</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            This is the masterlayout header !
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            This is the masterlayout footer !
        </footer>
    </body>
</html>   