@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterLayout.cshtml";
}

<ul>
    <div class="row">
	@foreach (ContentModels.Product item in Model.Children)
	{
	    
	        <div class="col-4 mt-5">
	            <div class="col-8">
        		    
        		    	<a href="@item.Url">@item.ProductTitle</a>
        		    	<img style="width: 100%" src='@item.ProductImage.Url'/>
        	    	
    	    	</div>
    		</div>
		
	}
	</div>
</ul>
