@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterLayout.cshtml";
}

<ul>
	@foreach (ContentModels.Product item in Model.Children)
	{
		<li>
			<a href="@item.Url">@item.ProductTitle</a>
		</li>
	}
</ul>
